<app-header title="Cards"></app-header>

<ion-content [fullscreen]="true">


  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
      <ion-icon name="pin-outline" slot="start"></ion-icon>
      <ion-label>Marcador</ion-label>
    </ion-item>

    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla dicta consequuntur fuga nostrum consectetur
      laboriosam, facilis minus, voluptatibus, adipisci enim exercitationem necessitatibus distinctio quidem ipsa
      delectus. Beatae tenetur culpa iusto!
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://medlineplus.gov/images/VitaminD_share.jpg">

    <ion-card-content>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla dicta consequuntur fuga nostrum consectetur
      laboriosam, facilis minus, voluptatibus, adipisci enim exercitationem necessitatibus distinctio quidem ipsa
      delectus. Beatae tenetur culpa iusto!
    </ion-card-content>
  </ion-card>
</ion-content>